/* Slider 

/* Слайдер */ 
 .slider_slick{
 	position: relative;
 	
 } 
 /* Слайдер запущен */ 
 .slick-slider.slick-initialized{} 
 /* Слайдер с точками */ 
 .slick-slider.slick-dotted{}	
/* Ограничивающая оболочка */ 
.slick-list {
	overflow: hidden;
	position: relative;
} 
/* Лента слайдов */ 
.slick-track{
	
display: flex;
justify-content:center;
align-items: flex-end;
}
/* Слайд */ 
.slick-slide{
text-align: center;
//opacity: 0.4;
position: relative;
margin: 10px 5px;
}
 /* Слайд активный (показывается) */ 
 .slick-slide.slick-active{

} 
 /* Слайд основной */ 
 .slick-slide.slick-current{
} 
 /* Слайд по центру */ 
 .slick-slide.slick-center{
  	opacity: 1;
  	z-index: 30;


 } 
  .slick-slide.slick-center img{
	width: 140%;
    margin-left: -20%;
 } 
 
 /* Клонированный слайд */ 
 .slick-slide.slick-cloned{}
/* Стрелка */ 
.slick-arrow{
} 
/* Стрелка влево */ 
.slick-arrow.slick-prev{} 
/* Стрелка вправо
slick-arrow.slick-next{} /* Стрелка не активная */ 
.slick-arrow.slick-disabled{}
/* Точки (булиты) */ 
.slider_slick-item{


}
.slick-dots{
	position: absolute;
	left: 50%;
	top: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
    transform: translateX(-50%);
	
} 
.slick-dots li{
list-style: none;
margin:  0 5px;

} 
/* Активная точка */ 
.slick-dots li.slick-active button{
background: transparent;
border: 1px solid #998675;
border-radius: 50%;
}
 /* Элемент точки */
.slick-dots li button{
font-size:0;
width:10px;
height:10px;
border: none;
background-color: #998675;
border-radius: 50%;
 } 
.slider_slick-item img{
width: 100%;

}
