@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}
header{
	background-color: #635854;
	border-bottom: 4px solid #3596F5;
}
.container{
	width: 95%;
	max-width: 1280px;
	margin: 0 auto;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-panel{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar-nav{
	margin: 0 auto;
}
.navbar-menu{
	list-style: none;
	display: flex;
	text-align: center;
}
.navbar-item{
	margin: 20px;
}
.navbar-item:hover{
	background-color: #3596F5;
}
.navbar-link{
	text-decoration: none;
	color:  #fff;
}
.navbar-text{
	display: block;
	color: #fff;
	margin-bottom: 4px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
}
.navbar-phone{
	font-family: Roboto;
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	color: #fff;

}
.menu-button{
	display: none;
}
main{
	padding: 54px 0px;
	display: flex;
}
.home-image {
	width: 100%;
	max-width: 734px;
}
.home-image path{
	opacity: 0;
	cursor: pointer;
}
.home-image path:hover{
	opacity: 1;
}
path.current-floor{
	opacity: 1;
}
.main-info{
	flex-grow: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.counter-group{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.counter-button{
	background-color: #fff;
	border: none;
	cursor: pointer;
}
.counter-arrow-down{
	transform: rotateX(180deg);
}
.main-title{
	font-family: "Bebas Neue", sans-serif;
	font-weight: normal;
	font-family: Bebas Neue;
	font-style: normal;
	font-size: 37px;
	line-height: 44px;
	text-align: center;
	text-transform: uppercase;
	color: #635854;
}
.floor-counter{
	font-family: "Bebas Neue", sans-serif;
	color: #635854;
	font-size: 124px;
	margin-top: 10px;
}
.button-primary{
	background-color: #3596F5;
	border-radius: 6px;
	color: #fff;
	border: none;
	padding: 16px 36px;
	cursor: pointer;
}
.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.2s;

}
.is-open{
	opacity: 1;
	transform: scale(1);
}
.modal-dialog {
	max-width: 1000px;
	min-height: 500px;
	background-color: #fff;
	flex-grow: 1;
	display: flex;
	position: relative;
	transform: translateY(-100%);
	transition: transform 0.2s, opacity 0.2s;
	transform-delay: 0.5s;
}
.is-open > .modal-dialog {
	opacity: 1;
	transform: translateY(0);
}
.modal-title{
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.modal-image {
	width: 60%;
	background: #EBEBEB;
	text-align: center;
	padding: 50px;

}
.modal-info {
	width: 40%;
	padding: 40px;

}
.flat-list {
	list-style: none;
	margin-top: 55px;

}
.flat-item {
	margin-bottom: 10px;
}
.flat-link {
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #635854;
}
.flat-link:hover,
.flat-link-active{
	color:  #3596F5;
	text-decoration: underline;
}
.modal-alert{
	margin-top: 50px;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #635854;
}
.modal-close-button{
	position: absolute;
	right: 27px;
	top: 38px;
	cursor: pointer;
	border: none;
	background-color: transparent;
}
.flats{
	max-width: 433px;
}
.flats path{
	opacity: 0;
	cursor: pointer;
}
.flats path:hover{
	opacity: 1;
}
path.active{
	opacity: 1;
}
.footer {
	background: #D7D7D7;

}
.footer-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 55px 0;
}
.footer-info {
	width: 60%;
	display: flex;
	align-items: center;
}
.footer-ico {}
.footer-contacts {
	margin: 0 40px;
}
.footer-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #635854;
}
.footer-phone {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	color: #635854;
}
.footer-social {
	margin: 0 20px;
}
.social-link{
	text-decoration: none;
	margin: 5px;
}
.footer-menu {
	width: 40%;

}
.footer-list {
	display: flex;
	justify-content: end;
	list-style: none;

}
.footer-item {
	margin: 0 10px;
	text-align: center;
}
.footer-item:first-child{
	margin: 0   10px 0 0;
}
.footer-item:last-child{
	margin: 0 0 0 10px;
}
.footer-link {
	font-family: Roboto;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #635854;
}
.footer-link:hover {
	color: #3596F5;
}
@media (max-width: 1400px){
	.container{
		max-width: 1200px;
	}
}
@media (max-width: 1200px){
	.container{

		max-width: 960px;
	}
	.navbar-phone{ 
		white-space: nowrap; 
	}
	.main-info{
		margin-left: 40px;
	}

}
@media (max-width: 1000px){
	.container{
		max-width: 920px;
	}
	.header{
		padding: 15px 0;
	}
	.navbar-panel{
		display: none;
		position: absolute;
		top: 60px;
		right: 60px;
		background-color: #635854;
		padding: 20px;
		border-radius: 5px;
	}
	.navbar-menu{
		display: block;
	}
	.navbar-item{
		margin-bottom: 20px;
		
	}
	.navbar-item:hover{
		background-color: #635854;
	}
	.navbar-contacts,
	.navbar-text{
		text-align: center;
	}
	.menu-button{
		background-color: transparent;
		width: 40px;
		height: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: none;
		cursor: pointer;
	}
	.menu-button > .line{
		height: 3px;
		background-color: #fff;
		display: block;

	}
	.footer-wrapper{
		display: flex;
		flex-direction: column;
		padding: 25px 0;
}
	.footer-info {
		width: 100%;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #635854;
	}
	.footer-menu {
		width: 100%;
	}
}
@media (max-width: 768px){
	.main{
		display: block;
	}
	.main-info{
		padding: 50px;
	}
	.counter-group{
		padding: 30px;
	}
	.modal-dialog{
		flex-direction: column;
	}
	.modal-image,
	.modal-info{
		width: 100%;
		text-align: center;

	}
	.flats{
		max-width: 250px;
	}
	.footer-info{
		justify-content: space-between;	
	}
	.footer-list {
		flex-direction: column;
		align-items: center;
	}
	.footer-item{
		margin: 15px 0;
	}
	
}
@media (max-width: 768px){
	.footer-info{
		flex-direction: column;
	}
	.footer-contacts{
		margin: 15px 0;
	}
}
